.character:hover {
  color: blue;
}

input {
  width: 80%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 150%;
}

button {
  padding: 12px 20px;
  background: red;
  color: white;
  font-size: 150%;
}

.column {
  float: left;
  padding: 40px;
}

.me {
  text-align: right;
}

.other {
  text-align: left;
}